* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

h1{
    font-weight: bolder;
    font-family: font-family: 'Bungee Shade', cursive;
    position: relative;
    font-size: 48px; 
}


.navbar-nav:hover {
 background: teal;
 text-transform: uppercase;

}

.header {
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
    color: #ffffff;
    position: absolute;
}

.bottom-container {
      width:100%;
      display: flex;
      flex-direction: row;
      position: relative;
      background-color: lightgray;
}

.search-field
{
    position: relative;
    display: flex;
    flex-direction: row;
}

.search-results {
    height: 50vh;
    border: 2px solid black;
    justify-content: center;
}

.favorite-runners {
    position: relative;
    display: flex;
    border: 2px solid black;
    height: 50vh
}

.description{
    display: flex;
    flex-direction: row;

}

.jumbotron {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 10px solid black;
    font-family: 'Bungee Shade', cursive;
    color: white;
    height: 40vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(315deg, #009a9a 0%, teal 74%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    display: flex;
}

.subhead-text {
      position:absolute;
      bottom: 20px;
      right: 10px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 12px, 12px, gray;
}

.score-box {
    position: relative;
    display: flex;
    border: 2px solid black;
    height: 20vh
}

.followLinkBtn {
border-left: 1px solid black;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
opacity: 50%;
background-color: #06aed5;
color: white;
width: 40px;
}

.followLinkBtn:hover {
transition: all 0.3s ease-in-out;
opacity: 100%;
}

.followLinkBtn i:hover {
font-size: 20px;
transition: all 0.3s ease-in-out;
}
.glow {
  font-size: 40px;
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px white 0 0 20px white, 0 0 30px #FF9966, 0 0 40px #FF9966, 0 0 50px #FF9966, 0 0 60px #FF9966, 0 0 70px #FF9966;
  }
  
  to {
    text-shadow: 0 0 20px white, 0 0 30px #FFA64D, 0 0 40px #FFA64D, 0 0 50px #FFA64D, 0 0 60px #FFA64D, 0 0 70px #FFA64D, 0 0 80px #FFA64D;
  }
